body {
  font-family: roboto, ariel, helvetica
}

.a-img-sm {
  height: 25px;

}


.a-menu-table td:nth-child(1) {
  text-align: center;
  width: 50px;
}

.a-menu-table td:nth-child(2) {
  font-weight: bold;
}

.a-menu-table th {
  background-color: #0078d4;
  color: white;
}