body {
  font-family: "segoe UI", roboto, ariel, helvetica
}

.a-img-sm {
  height: 25px;
  display: inline !important;
}

.a-img-vsm {
  height: 16px;
  display: inline !important;
}

.a-img-md {
  height: 50px;
  display: inline !important;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1:after {
  content: ' ';
  display: block;
  margin-top: 3px;
  border: 2px solid #e2e2e2;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2:after {
  content: ' ';
  display: block;
  margin-top: 3px;
  border: 1px solid #e2e2e2;
}

h3 {
  font-size: 24px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 300;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 300;
}

ol {
  list-style-type: decimal;
}

.a-menu-table td {
  padding: 8px 16px 8px 8px;
}

.a-menu-table td:nth-child(1) {
  text-align: center !important;
  width: 50px;
}

.a-menu-table td:nth-child(2) {
  font-weight: bold;
}

.a-menu-table th {
  background-color: #0078d4;
  color: white;
  font-size: 15px;
  padding: 8px 16px 8px 8px;
}

.a-list-table td {
  padding: 8px 16px 8px 8px;
}

.a-list-table td:nth-child(1) {
  font-weight: bold;
}

.a-list-table th {
  background-color: #0078d4;
  color: white;
  font-size: 15px;
  padding: 8px 16px 8px 8px;
}

.a-info-card,
.a-warn-card {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top 50% left 16px;
  padding: 12px 0px 12px 64px;
  margin: 12px 0px;
}

.a-info-card {
  border-left: 6px solid #3c81e9;
  background-image: url(../icons/info-circle.svg);
}

.a-warn-card {
  border-left: 6px solid red;
  background-image: url(../icons/exclamation-triangle.svg);
}

.a-optional {
  font-weight: bold;
  color: #858585;
}

.a-link {
  background-image: url(../icons/link.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: top 50% left 0px;
  padding-left: 20px;
  text-decoration: underline #0078d4;
}

.a-btn {
  border-radius: .5rem;
  padding: .125rem 5px .125rem 1.75rem;
  border-width: 2px;
}

.a-btn-primary {
  color: white;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: top 50% left 5px;
  border-color: rgba(59, 130, 246, 1);
  background-color: rgba(59, 130, 246, 1);
}

.a-btn-save {
  background-image: url(../icons/check-white.svg);
}

.a-btn-add {
  background-image: url(../icons/plus-white.svg);

}

.a-border-info {
  border-left: 6px solid #6ac35e;
}

.a-border-warn {
  border-left: 6px solid red;
}

.a-border-link {
  border-left: 6px solid rgb(255, 123, 0);
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  padding-left: 5px;
}

.a-list-links li {
  list-style: none;
  background-image: url('../icons/link.svg');
  background-position: top 50% left 16px;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 50px;
  margin-top: 10px;
  text-decoration: underline;
}

.a-list-links {
  padding-top: 5px;
  padding-bottom: 15px;
}

.a-loose-list li {
  line-height: 2;
}

.grid {
  display: grid;
}

.grid.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  grid-gap: 20px;
}

.toc-left {
  width: 302px;
}

.a-white-svg {
  filter: invert(100%) sepia(51%) saturate(1176%) hue-rotate(272deg) brightness(129%) contrast(93%);
}

blockquote {
  background-color: rgba(243, 244, 246, 1);
  padding: 1.5rem;
  margin: 17px 0;
}